h1{
    font-size: 40px;
    background-color: orange;
    width: 50%;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* wins and losses */
h2{
    font-size: 25px;
    padding:15px;
    background-color: cyan;
    width:25%;
    margin-left: 15px;
  
}

/* random number */
h3{
    font-size: 35px;
    background-color: green;
    line-height: 75px;
    width: 30%;
    height: 75px;
    margin: 15px;
    color:black;
    text-align: center;
}

/* total score */
h4{
    font-size: 25px;
    background-color: greenyellow;
    width: 30%;
    text-align: center;
    margin: 15px;
    padding-top:15px; 
}

p{
    font-size: 20px;
    background-color: beige;
    padding: 10px;
    margin-left: 15px;
    width:50%; 
}

body{
    background-image:url(../images/background.jpeg);
}


/* -------------- images ---------------- */
.image{
    margin:15px;
  
}

#crystal-image1 {
    width: 200px;
    height: 200px;
    float:left;
    
  }
  #crystal-image2 {
    width: 200px;
    height: 200px;
    float:left;
  }
  #crystal-image3 {
    width: 200px;
    height: 200px;
    float:left;
  }
  #crystal-image4 {
    width: 200px;
    height: 200px;
    float:left;
  }

